* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html,
// body {
//     background-image: url(../assets/mara.jpg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     color: white;
//     height: 100%;
//     width: 100%;
//     overflow: hidden;
// }

// .coverWithFrame {
//     position: absolute;
//     background-image: url(../assets/coverWithFrame.svg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100%;
//     width: 100%;
//     transform: scale(1.08);
//     opacity: 0.8;
//     transition: all 1.5s ease-in-out;
//     box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);

//     // &:hover {
//     //     transform: scale(3);
//     //     opacity: 0;
//     // }
// }

// .coverSquare {
//     position: absolute;
//     background-image: url(../assets/coverSquare.svg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: calc(100% - 80px);
//     width: calc(100% - 80px);
//     margin: 40px;
//     opacity: 0.8;
//     transition: all 1.5s ease-in-out;
//     box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);

//     // &:hover {
//     //     opacity: 0.8;
//     // }
// }